{% if message %} 
<p style="background-color: brown; color: aliceblue;"> {{message}}</p>
{% endif %} 
<form action=" {% url 'edit' produit.id %}" method="POST" > 
{% csrf_token %}
<fieldset>
    <label for="label"> label </label>
    <input type="text" name="label" id="label" value="{{ produit.label }}"><br> <br> 
    <label for="prix"> prix </label>
    <input type="text" name="prix" id="prix" value="{{ produit.prix }}"><br> <br> 
    <label for="qte"> qte </label>
    <input type="number" name="qte" id="qte" value="{{ produit.qte }}"><br> <br> 
<input type="submit" value="save"> 
</fieldset>
</form>